/* set up */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
     
      .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
        }
      * html .clearfix             { zoom: 1; } /* IE6 */
      *:first-child+html .clearfix { zoom: 1; } /* IE7 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


/* general */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-shadow:1px 1px 1px #white;
    color:white;
}

.wrapper{
width: 100%;
margin:0 auto;
position: relative;
}

h1{
  margin-top: 10%;
}


li {
  list-style: none;
}

/* header */
.section.header h2, h3{
  text-align: center;
}


 /* navigation */
.navbar{
  
  margin-left: 20px;
  margin-top:25px;
  position: fixed;
  width: 300px;
  background: rgba(60,181,181,1);
  z-index:3;
  float:left;
  box-shadow: 0px 0px 20px rgba(255,255,255,1);
  border: solid  1px white;
  border-radius: 6px; 


}
  .navbar ul{
    padding-left:60px;
    margin-top: 0px;
  
  }

  .navbar li{

  }

 .navbar a{
    text-decoration: none;
    display:block;
    color:white;
    float:left;
    padding:  20px 10px;

    }

  .navbar a:hover{
    box-shadow: 0px 0px 20px rgba(255,255,255,1);
  
  }


/* logo */
.logo {
  background: url(images/jplogo.png) center no-repeat;
  position: absolute;
  z-index:1;
  font-size:30px;
  display:inline;
  text-transform: uppercase;
  -webkit-transition: all 1s; 
  padding:50px 20px; 
  top: -50px;
  left:-20px;

}


/* section - general  */
.section {
  width: 100%;
  float:left;
  padding: 20px;
  margin-top:-20px;
}

  .section.header{
    padding: 0;
    width:100%;
    min-height:400px;
    background:url(images/josebanner.jpg);
    background-size: cover;
  }
    .section.header h1{
      text-align: center;
      font-size: 80px;
      
    }

/* profile */

.section.profile h1, h2{
  line-height:1.2em;

}

.image-wrapper{
  min-height:280px;
  width: 361px;
  overflow: hidden;
  box-shadow: 0px 0px 10px white;
  border:4px solid white;
  border-radius: 3px;
  margin: 0 auto;
}
.image{
 background: url(images/joseprofile.jpg) center no-repeat;
 min-height: 300px;

 width: 361px;
 margin:-20px auto;

 -webkit-transition: all 1s;
 z-index: 0;
}


.image:hover{
 -webkit-transform: scale(1.25);


}

  .section.profile {
    background: rgb(229,59,81);
  }

  .section.profile li{
    padding:0 40px 20px 40px;
  }

  .section.profile ul{
    width: 50%;
    float:left;
    margin-top:-40px;


  }




/* portfolio */

.section{
     background: rgb(252,217,32);
     background:url(images/catcover.jpg);
     background-size: cover;
     min-height: 400px;
     background-repeat: no-repeat;

     background-attachment: fixed;
  }

.section.portfolio{
  min-height: 1000px;
}



.section.portfolio1{
 
   background-image:url(images/windgirlcover.jpg);
}
.section.portfolio2{

   background-image:url(images/hintalandscover.jpg);
}

.section.portfolio3{
  
   background-image:url(images/threesisterscover.jpg);
}

.section.portfolio4{

   background-image:url(images/pelicancover.jpg);
}


/*ribbon*/
 .ribbon {
   background: url(images/ribbon.png) center no-repeat;
   text-align: center;
   padding:60px ;
   margin-top: -110px;
   position: relative;
   z-index:1;
}

/* leaf */ 
.leaf{
  border-radius: 5px 20px 5px;
  padding:20px;
  background: #BADA55;
  width:200px;
  border: 4px solid white;

}


/*twitter*/
 .twitter-timeline{
  margin:0 auto 0;
  width:300px;
  display:block;

 }

 .leaf-box{
    background:#BADA55;
    border-radius: 5px 20px 5px;
    width:361px;
    border:4px solid white;
    float:left;
    padding: 4px;
    position: relative;

 }

  /* contact */

  .section.contact {
    background:rgb(236,108,32);
  
  }

  .form{
    margin:0 auto;
    border: 4px solid white;
    padding: 20px;
    width:400px;
    background:#BADA55;
    font-size: 20px;
    border-radius: 5px 20px 5px;
    box-shadow: 0 0 5px;
  }

  .form label{
   width:100%;
   display:block;
   padding-bottom:10px;
  }
  
  .form input, .form textarea{
    padding:10px;
    margin-bottom:10px;
    width:100%;
  }
  .footer{
    text-align: center;
    padding:20px;
    min-height: 50px;
    width:100%;
    float:left;
    background: rgba(60,181,181,1);
  }